<p>
    We have sent you this email in response to your request to reset your password.
</p>
<p>
    To reset your password, please follow the link below:
</p>

<p>
    <a href="http://127.0.0.1:8000/reset-password/reset/{{ resetToken }}">Click here to change the password</a><br>
    (this link will be available {{ tokenLifetime }} hour/s)
</p>
<p>
    We recommend that you keep your password secure and not share it with anyone.
</p>
<p>
    Api Login Team
</p>